<nav class="p-4 text-white bg-orange-500">
  <section class="container flex items-center justify-between mx-auto">
    <a routerLink="/" class="text-lg font-bold">ShirtStore</a>
    <section class="flex items-center">
      <a routerLink="/products" class="mr-6">Products</a>
      <section
        class="relative"
        (mouseenter)="showCart.set(true)"
        (mouseleave)="showCart.set(false)"
      >
        <a routerLink="/checkout" class="flext items-center justify-between">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-shopping-cart"
            >
              <circle cx="9" cy="21" r="1" />
              <circle cx="20" cy="21" r="1" />
              <path
                d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
              />
            </svg>
          </span>
          <span
            class="absolute right-0 px-1 text-lg font-bold text-white -top-1"
            >Count</span
          >
        </a>
        @if (showCart()) {
        <section
          [ngClass]="{ 'show-cart-animation': showCart() }"
          class="absolute right-0 z-30 w-48 p-2 text-white rounded-sm bg-slate-400"
        >
          <div class="flex items-center justify-between">
            <span>3 - shirts</span>
            <span>3 - shirts</span>
          </div>
          <hr class="my-4 border-gray-500 border-t-1" />
          <div class="flex justify-between py-3 font-light">
            Total:
            <span class="not-italic font-bold">Total: 554</span>
          </div>
        </section>
        }
      </section>
    </section>
  </section>
</nav>
