<article class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <section class="flex flex-wrap mx-auto lg:w-4/5">
      <img
        class="object-cover object-center w-full h-64 rounded lg:w-1/2 lg:h-auto"
        src="product.image"
        alt="Product image"
      />
      <div class="w-full mt-6 lg:w-1/2 lg:py-6 lg:mt-0">
        <h2 class="text-sm tracking-widest text-gray-500 title-font">
          Product Category
        </h2>
        <h1 class="mb-1 text-3xl font-medium text-gray-900 titel-font">
          Product Name
        </h1>
        <div class="flext mb-4">
          <span class="flex items-center">
            <span></span>
            <span class="ml-3 text-gray-600"> 366 reviews</span>
          </span>
        </div>
        <p class="mt-6 mbb-5 leading-relaxed">Product Description</p>
        <div class="flex">
          <span class="text-2xl font-bold text-orange-500">Product Price</span>
          <button></button>
        </div>
      </div>
    </section>
  </div>
</article>
